:root {
    --brand-color: #819B57;
   --brand-color-dark: #465929;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
}
/* base styles */
.body {
    color: var(--color-primary-dark);
}
ul {
    list-style: none;
}
/* button styles */
.call-order-button{
   background-color: var(--brand-color);
   border:2px solid var(--brand-color) ;
   border-radius: 8px;
   color: var(--color-primary-light);
   cursor: pointer;
} 
.call-order-button:hover{
    background-color: transparent ;
   color: var(--brand-color-dark);
}
/* link styles */
.link{
   color: var(--color-primary-light);
}
.link:hover{
   color: var(--brand-color);
}
/* hero title styles */
.hero-title {
   color: var(--color-primary-light);
}
.hero-title .accent {
   color: var(--brand-color);
}
/* advantages section styles */
.advantages-list {
   background-color: var(--brand-color);
    color: var(--color-primary-light);
}
/* section title styles */
.section-title .accent {
   color: var(--brand-color-dark);
}